@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #bebcbc;
}

@keyframes marqueeAnimation {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.animation {
  animation: marqueeAnimation 25s linear infinite;
}